/*
 * this styles sheet is designed to be applied to all of the administrator pages of the site. 
 * it impacts the header, nav bar, and the footer
 */

#logo
{
	height: 80px;
}


#adminLbl{
	font-family: "Georgia", Times, serif;
	font-style: oblique; 
	color: white; 
	text-align: left;
	font-size: 30px; 
	margin-top: -30px; 
	padding-left: 55px; 
}