#cardSeries
{
	color: #2a4e7e; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	font-size: 200%; 
	margin-left: -250px; 
}

#cardSetsLbl
{
	color: #2a4e7e; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	font-size: 200%; 
	margin-left: 350px; 
}

img
{
	height: 50px; 
 	width: auto; 
}

 div.container 
 {
 	float:left;
 	width:100%;
 	padding:1%;
  }

 .column1 
 {
 	list-style-type: circle;
 	float:left;
 	width:10%; 
 	margin-left: 40px; 
 }
 
 .column2 
 {
 	float:left;
 	width:90%;		
 } 
 
 #container 
 {
	width:100%;
	padding:1%;
}

#column1 
{
	list-style-type: circle;
	float:left;
	width:20%;
	padding-top: 1%;
	margin-left: 40px; 
}

#column2 
{
	float:left;
	width:92%;
	padding-top: 1%;		
}

.buttons 
{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	background-color: red;
}