#cardSeries
{
	color: #2a4e7e; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	font-size: 200%; 
	margin-left: -130px; 
}

#cardSetsLbl
{
	color: #2a4e7e; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	font-size: 200%; 
	margin-left: 350px; 
}

a
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	color: #2a4e7e; 
}

#checklistBtn
{
	margin-left: 40px; 
}

#checklistPar
{
	padding-bottom: 15px; 
}

#column1 
{
	list-style-type: circle;
	float:left;
	width:10%;
	height: 100%;
	padding-top: 1%;
	margin-left: 40px; 
}
						
#column2 
{
	float: left;
	width: 89%;
	padding-top: 1%;
	padding-left: 1%;
}
			
div.gallery 
{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: auto;
	 height: 360px;
	min-height: 300px;
	 max-height: 400px;
	 min-width: 300px;
      
}
			
div.gallery img 
{
	width: auto;	
	height: 360px;
}