/*
 * this styles sheet is designed to be applied to all of the main pages of the site. 
 * it impacts the header, nav bar, and the footer
 */

#logo
{
	/*padding-top: 10px; */
	height: 100px;
	/*margin-bottom: 50px; */
	padding-top: 8px; 
	padding-left: 8px; 
	padding-bottom: 25px; 
}

#shopping-cart
{
	height: 50px; 
	margin-top: -18px; 
	margin-bottom: 15px; 
}

header 
{ 
  background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* navigation bar */
nav
{ 
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px; 
    border-right-style: none; 
    border-left-style: none; 
	background-size: cover;  
	margin: 0; 
	width: 100%; 
	overflow: hidden; 
	/*font-family: "Trebuchet MS", Helvetica, sans-serif; */
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	font-size: 110%;
	display: inline-block;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a4e7e;
    top: 0;
    width: 100%;
}

li 
{
	float: left; 
	margin-top: 20px; 
	margin-bottom: -15px; 
}

li a 
{
    color: #E7E1D4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active:hover
{
	opacity: 0.5; 
	font-style: oblique; 
}

body
{
	 margin-top: 0px;
	 margin-right: 0px;
	 margin-bottom: 0px;
	 margin-left: 0px; 
	 background-color: #E5DCCB; 
}

p
{
	margin-left: 40px; 	
	font-family: Georgia, serif; 
}

button
{
	background-color: #314a73;
	color: white; 
	font-size: 100%; 
	padding-left: 15px; 
	padding-right: 15px; 
	padding-top: 7px; 
	padding-bottom: 7px;  
}

footer
{
	padding: 1em;
    clear: left;
	background: #2a4e7e;
	color: white;
}

#TwitLogo, #FBLogo, #pinLogo
{
	height: 30px; 
	width: auto;
}