/*
 * this styles sheet is designed to be applied to all of the main pages of the site. 
 * it impacts the header, nav bar, and the footer
 */

#logo
{
	height: 80px;
}

header
{
	height: 300px; 
}

nav
{ 
	background-color: white; 
	background-size: cover;  
	margin: 0; 
	border: none; 
	width: 100%; 
	overflow: hidden; 
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    top: 0;
    width: 100%;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active:hover
{
	opacity: 0.5; 
}

body
{
	 margin-top: 0px;
	 margin-right: 0px;
	 margin-bottom: 0px;
	 margin-left: 0px	
}

footer
{
	padding: 1em;
    clear: left;
	background: gray;
	color: white;
}

#TwitLogo, #FBLogo, #pinLogo
{
	height:20px; 
	width: auto;
}