/*main background*/
html 
{ 
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button
{
	background-color: #2a4f7e;
	opacity: .9; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
   	color: white; 
   	font-family: "Georgia", Times, serif;
    cursor: pointer;
    margin-top: 44%; 
}

.button:hover
{
    border: 4px solid #2a4f7e;
    opacity: 1; 

}


