/* headers */
#auctionLbl
{
	color: #2a4e7e; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	font-size: 200%; 
	margin-left: 40px; 
}

#auction-nudge-items
{
	width: 95%;
	margin-left: 20px;  
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
}

/* The title link */
div#auction-nudge-items .an-title a {
  color: #2a4e7e;
  font-size: 90%; 
}
/* Time left label */
div#auction-nudge-items .an-ends .an-label {
	color: #26314f; 
	font-size: 80%; 
}
/* Time left */
div#auction-nudge-items .an-ends .an-time {
	color: #26314f; 
	font-size: 80%; 
}
/* View item link */
div#auction-nudge-items .an-view a {
  color: #546f9f;
  font-size: 95%; 
}

.item, #item
{
	display: inline-block;
}

#mainform
{
width:100%;
height:100%;
top:0;
left:0;
display:none;
position:fixed;
overflow: auto;
}

.innerdiv
{
width:65%;
display: inline-block;

}



span       /*for validation messages */
{
color:green;
 position: absolute;
 right:7px;
}

#myForm div
{
color:red;
font-size:14px
}
